* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Inter";
  color: #404242;
}
/* ----------------header section------------------ */
header .container {
  background-color: #e9ecef;
  /* background-image: url("../images/hero_image.jpg"); */
}

header .wrapper {
  width: 1140px;
  margin: 0 auto;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .wrapper img {
  width: 90px;
}
header .wrapper button {
  padding: 8px 20px;
  height: 33px;
  background-color: #0c8599;
  border: none;
  border-radius: 8px;
  color: #fff;
  font-family: inherit;
}

header .wrapper button:hover {
  background-color: #22b8cf;
}

/* ----------------hero section------------------ */
.container .hero {
  height: 800px;
  background-image: url("../images/hero_image.jpg");
  background-repeat: no-repeat;
  background-position: cover;
}

.overlay {
  background-color: rgba(0, 0, 0, 0.993);
  width: 100%;
  height: 100%;
  opacity: 0.8;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container .hero .heading {
  width: 600px;
  text-align: center;
}
.container .hero h1 {
  color: #fff;
  font-size: 50px;
  /* text-align: center; */
  line-height: 1.2;
}
.container .hero button {
  margin-top: 30px;
  padding: 8px 30px;
  background-color: #0c8599;
  border-radius: 8px;
  border: none;
  color: #fff;
  /* font-weight: 600; */
  font-size: 14px;
}
.container .hero button:hover {
  background-color: #22b8cf;
}

/* ---------------demo section------------------- */
.demo_wrapper {
  display: flex;
  gap: 40px;
  width: 1140px;
  margin: 90px auto;
  justify-content: space-between;
  align-items: center;
}

.demo_wrapper .demo_text {
  /* display: inline-block; */
  width: 500px;
}
.demo_wrapper .demo_text h2 {
  /* color: #404242; */
  margin-bottom: 20px;
}
.demo_wrapper .demo_text p {
  line-height: 1.4;
  margin-bottom: 20px;
}

.demo_wrapper .demo_text button {
  padding: 8px 40px;
  background-color: #0c8599;
  border-radius: 8px;
  border: none;
  color: #fff;
  font-size: 14px;
}

.demo_wrapper .demo_text button:hover {
  background-color: #22b8cf;
}

.demo_wrapper .demo_image img {
  width: 400px;
}

/* -------------happy client section-------------- */
.happy_client_wrapper {
  width: 1140px;
  margin: 0 auto;
  background-color: #a8d4db;
  /* background-color: #22b8cf; */
  /* opacity: 0.7; */
  margin-bottom: 90px;
  padding: 40px 0;
}

.happy_client_wrapper h3 {
  text-align: center;
  color: #000;
  margin-bottom: 38px;
}

.happy_client_wrapper .client_count {
  display: flex;
  justify-content: space-around;
}
.happy_client_wrapper .client_count .rate {
  font-size: 3em;
  color: #0c8599;
}

/* -------------client feedback section------------------ */
.user_feedback_wrapper {
  width: 1140px;
  margin: 0 auto;
}

.user_feedback_wrapper h2 {
  text-align: center;
}
.users_messages {
  margin-top: 60px;
  display: flex;
  gap: 2%;
}

.users_messages .user {
  width: 32%;
  background-color: #e8e8e8;
  padding: 20px;
}
.users_messages .user .stars {
  color: #ffb805;
  display: flex;
  gap: 8px;
  margin-bottom: 20px;
}
.users_messages .user h4 {
  margin-bottom: 10px;
}
.users_messages .user p {
  font-size: 14px;
  margin-bottom: 10px;
}
.users_messages .user .profile {
  display: flex;
  margin-top: 10px;
  gap: 10px;
}
.users_messages .user .profile img {
  width: 50px;
  border-radius: 50px;
}

/* ------------leave message section-------------- */
.leave_message_wrapper {
  width: 1140px;
  margin: 60px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.leave_message_wrapper .touch {
  width: 500px;
}
.leave_message_wrapper .touch h2 {
  font-size: 50px;
}
.leave_message_wrapper .input label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
}

.leave_message_wrapper .input input {
  margin-bottom: 20px;
  padding: 10px 20px;
}
.leave_message_wrapper .input input,
.leave_message_wrapper .input textarea {
  display: block;
  width: 400px;
}

.leave_message_wrapper .input input {
  border: 1px solid #0c8599;
}
.leave_message_wrapper .input textarea {
  padding: 10px 20px;
  border: 1px solid #0c8599;
  resize: none;
}

/* ---------------footer section-------------- */

.footer {
  background-color: #e9ecef;
}
.footer .footer_warpper {
  width: 1140px;
  margin: 0 auto;
  padding: 80px 0;
  /* text-align: center; */
  display: flex;
  /* justify-content: center; */
  flex-direction: column;
  align-items: center;
}
.footer .footer_warpper img {
  margin-bottom: 20px;
  width: 100px;
}
.footer .footer_warpper p {
  width: 650px;
  line-height: 1.4;
  text-align: center;
  font-size: 14px;
}

.footer .footer_warpper ul {
  list-style: none;
  margin-top: 30px;
  display: flex;
  gap: 40px;
}
.footer .footer_warpper ul li a {
  text-decoration: none;
  color: inherit;
}
.footer .footer_warpper ul li a:hover {
  color: #0c8599;
}
